<div class="container" >
  <div class="contain1" >
    <h1 class="postTitle"><%= @post.title%></h1>
  <div class="contain1">
    <p><%= @post.content%></p>
  </div>
</div>
</br>
<h2 class="postTitle">Comments</h2>
<%= link_to "Add a comment", new_post_comment_path(@post), :class => "commentstag" %>
        <% @post.comments.each do |c| %>
        <div class="postt yellow">
          <% if current_user %>
          <% if c.user == current_user %>

          <p class="usernameC">@<%= c.user.username%></p>
          <p class="timeC"><%= c.created_at %></p></br>
          <p class="contentC"><%= c.content %></p>
          <%= link_to "Delete", post_comment_path(@post, c), method: :delete, data: { confirm: "Are you sure you want to delete this?"}, :class => "commentdelete" %>

          <% end %>
          <% end %>
        </div></br>
        <% end %>

    <% if current_user %>
      <% if @post.user == current_user %>
        <p class="text-right">
          <%= link_to "Delete this post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
        </p>
      <% end %>
    <% end %>


</div>
</div>
