<!-- new post animation -->
<div class="content">
  <div class="visible">
    <h1 id="postme">New</h1>
    <ul class="n">
    <li class="m">Post</li>
     <li class="m">Ghost Story</li>
     <li class="m">Romance</li>
      <li class="m">Adventure</li>
    </div>
  </div>
  <br>
  <br>
<%= form_for(@post) do |f| %>
<div class="field1">
    <%= f.label :title, :class => "labelz"  %><br />
    <%= f.text_field :title, autofocus: true, :class => 'forms' %>
  </div>



  <div class="field">
    <%= f.label :content, :class => "labelz"  %><br />
    <%= f.text_area :content, :cols => 40, :rows => 10, :class => 'forms' %>
  </div>


  <div class="actions">
    <%= f.submit "Post",:class => "commentnote"  %>
    </div>
  <% end %>
